@import "../style.scss";

.directory {
    display: flex;
    justify-content: center;
    align-items: center;

    .page-item {
        margin: $directory-page-item;
        cursor: pointer;
    }

    .page-item.active {
        color: lightseagreen;
    }

    button {
    
    }
}